[submodule "src/ncorpos_vi/ext/ncorpos_valores_iniciais"]
	path = src/ncorpos_vi/ext/ncorpos_valores_iniciais
	url = https://github.com/potalej/ncorpos-valores-iniciais
[submodule "src/ncorpos_vi/ext/ncorpos_utilidades"]
	path = src/ncorpos_vi/ext/ncorpos_utilidades
	url = https://github.com/potalej/ncorpos-utilidades.git
